apiVersion: v1
kind: Service
metadata:
  name: open5gs-ausf
  labels:
    epc-mode: ausf
  namespace: '{{ meta.namespace }}'
spec:
  selector:
    epc-mode: ausf
  ports:
    - protocol: TCP
      port: 80   
      targetPort: 80
