apiVersion: v1
kind: Service
metadata:
  name: open5gs-nssf
  labels:
    epc-mode: nssf
  namespace: '{{ meta.namespace }}'
spec:
  selector:
    epc-mode: nssf
  ports:
    - protocol: TCP
      port: 80 
      targetPort: 80 
